{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}	
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h2 class="subtitle">The fastest, simplest &amp; greenest solution for returning on site sign-off documents!</h2>
			<h5 class="subtitle">Do you require a timesheet, job completion certificate or delivery notification to be completed as part of the service you offer?</h5>
			<h5 class="subtitle">Is a physical signature a part of this requirement?</h5>
			<h5 class="subtitle">Mysignoff.co.uk can help you achieve this by giving your members of staff a portal to log into on their smart phone / tablet, complete a form &amp; pass their device to your customer for a real signature! <a href="">(See example here)</a></h5>
			<h5 class="subtitle">Once the form is submitted it gets translated onto a PDF document and emailed to whomever you choose (more than one email possible).
			<a href="">It can also be uploaded to a database which can be sorted by date, location, job number etc...</a></h5>
			<h5 class="subtitle">There are many huge benefits to your business:</h5>
			<ul class="page1list">
				<li><p>Fast! - No need to wait for your employee to return a signed paper document</p></li>
				<li><p>Simple! - No convoluted processes to go through, complete a form, sign , submit... that's it.</p></li>
				<li><p>Green! - Allowing the full sign off process to be paperless</p></li>
				<li><p>Digital! - Need to send on the document? no need to scan in a paper sheet as you already have a pdf copy you can send.</p></li>
    			<li><p>Mobile! - Available on most smart phones / tablets with a modern browser.</p></li>
			</ul>
			<h5 class="subtitle">If you're interested in saving your business time &amp; money, enter your email below and we will be in touch very soon to see how we can help you best achieve an online sign off.</h5>
			<form class="form-inline signup" role="form" method="POST">
			  	<div class="form-group">
			    	<input type="email" class="form-control" name="interestemail" placeholder="Enter your email address">
			  	</div>
			  	<button type="submit" class="btn btn-theme">Request Details</button>
			</form>									  	
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
<!-- <div class="container">
	<div class="row">
		<div class="col-lg-8">
            <form class="form-inline" action="register/secure/process_login.php" method="post" name="login_form" class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <span style="display: inline-block;"><label class="control-label" for="inputEmail">Email</label>
                        <input type="text" id="email" name="email"placeholder="Email"></span>
                    	<span style="display: inline-block;"><label class="control-label" for="inputPassword">Password</label>
                      	<input type="password" name="password" id="password" placeholder="Password"></span>
                      	<input type="hidden" name="p" id="p" value="">
                      	<button style="margin-top: -6px; display: inline-block;" type="submit" class="btn" onclick="formhash(this.form, this.form.password);">Sign in</button>
                      	<br>
    		        </div>
        		</div>
    		</form>
		</div>
	</div>		
</div>
 -->{% endblock %}